.main-content {
  margin: 24px 18px;
  padding: 14px;
  background-color: #fff;
  border-radius: 5px;

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    &-search {
      position: relative;
      display: flex;
    }
  }
}

.search-input {
  border-radius: 100px;
  font-size: 14px;
  width: 300px;

  &:focus {
    box-shadow: none;
    border-color: red;
    outline: none;
  }
}

.search-btn {
  position: absolute;
  right: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #e4e5e5;
  }
}

.main-content {
  height: calc(100vh - (70px + 24px + 24px));
}
