::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e9879c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ea6481;
}

body {
  background-color: #e4e5e5;
}

a[href] {
  text-decoration: none !important;
}
